:root{
    --primary-color:red;
    --secondary-color:rgb(10, 157, 10);
    --box-color:rgba(211, 211, 211, 0.84);
    --button-color:rgb(81, 76, 76);
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2,h3, h4{
    margin:0;
}

.container{
    padding:0 7rem;
}

.d-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    flex-direction: column;
}

.top_bar{
    background-color: var(--primary-color);
    padding: 1.5rem 0;
    border-bottom: .2rem solid black;
}

main{
    gap:1rem;
}

.pokemon{
    gap:1rem;
    background: var(--box-color);
    padding: 1rem;
    border-radius:.87rem;
}

.pokemon_info{
    align-self: normal;
    padding:.5rem 0;
}

.pokemon_img{
    max-height: 8rem;
    max-width: 8rem;
    border-radius:.87rem;
}

h1{
    color:white;
}

button{
    background-color: var(--button-color);
    border-radius: .4rem;
    color:white;
    box-shadow: .13rem .13rem black;
    cursor: pointer;
}

.whos_that_pokemon{
    border-color:var(--secondary-color);
    background-color: var(--secondary-color);
    margin:1rem auto;
    padding:0 1rem;
}
