@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
    --primary-color:red;
    --secondary-color:rgb(10, 157, 10);
    --box-color:rgba(211, 211, 211, 0.766);
    --button-color:rgb(81, 76, 76);
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url("./pokedex-background.svg");
    background-size:cover;
    min-height: 100vh;
}

h1,h2,h3,h4{
    margin:0;
}

.container{
    padding:0 7rem;
    margin:0 auto;
}

.d-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    flex-direction: column;
}

.top_bar{
    background-color: var(--primary-color);
    padding: 1.5rem 0;
    border-bottom: .2rem solid black;
}

main.container{
    gap:1rem;
    max-height: 80vh;
    overflow-y: auto;
    border: 1rem solid red;
}

.pokemon{
    min-height: 9rem;
    width: 45.7rem;
    gap:1rem;
    background: var(--box-color);
    padding: 1rem;
    border-radius:.87rem;
}

.pokemon_info{
    align-self: normal;
    padding:.5rem 0;
    gap:1rem;
    flex:1;
}

.pokemon_description{
    flex:4
}

.pokemon_img{
    max-height: 8rem;
    max-width: 8rem;
    border-radius:.87rem;
    flex:1;
}

h1{
    color:white;
}

button, button.reset_button{
    background-color: var(--button-color);
    border-radius: .4rem;
    color:white;
    box-shadow: .13rem .13rem black;
    cursor: pointer;
    padding:.25rem .25rem;
}

button.whos_that_pokemon{
    font-weight: 580;
    border-color:var(--secondary-color);
    background-color: var(--secondary-color);
    margin:1rem auto;
    padding:.5rem 1rem;
}

.pokemon_type{
    padding: .2rem .85rem;
    border-radius:2rem;
}

.normal{
    background-color: #a8a878;
}

.fire{
    background-color: #f08030;
}

.water{
    background-color: #6890f0;
}

.electric{
    background-color: #f8d030;
}

.grass{
    background-color: #78c850;
}

.ice{
    background-color: #98d8d8;
}

.fighting{
    background-color: #c03028;
}

.poison{
    background-color: #a040a0;
}

.ground{
    background-color: #e0c068;
}

.flying{
    background-color: #a890f0;
}

.psychic{
    background-color: #f85888;
}

.bug{
    background-color: #a8b820;
}

.rock{
    background-color: #b8a038;
}

.ghost{
    background-color: #705898;
}

.dragon{
    background-color: #7038f8;
}

.dark{
    background-color: #705848;
}

.steel{
    background-color: #b8b8d0;
}

.fairy{
    background-color: #f0b6bc;
}